In [1]:
Name = "Abhishek"

Age = 30

type(Age)

int

In [3]:
msg = "My name is "+ Name+ " and my age is "+ str(Age)
print(msg)


# msg_1 = 'Good Noon My name is '+Name + " and my age is "+ Age

My name is Abhishek and my age is 30

In [4]:
Maths = 85
English = 75
Social_Science = 78
Science = 79
Sanskrit = 80
Hindi = 79

In [5]:
Report = "Hi guys my marks in Maths are "+ str(Maths)+ " in English it is " +str(English) + " in Social Science it is "+str(Social_Science)+ " in Science it is "+str(Science)


Report

'Hi guys my marks in Maths are 85 in English it is 75 in Social Science it is 78 in Science it is 79'

### f- strings == f"{Placeholder}or{Modifiers} what can you keep is {Var_name} "

-- f-strings is used for formatting strings.

In [8]:
Report = f"Hi guys my marks in maths is {Maths + 5}, and in english it is {English}, also I got {Science} in Science."

In [9]:
Report

'Hi guys my marks in maths is 90, and in english it is 75, also I got 79 in Science.'

In [10]:
mag = f"My name is {Name} and my age is {Age}."

In [11]:
mag

'My name is Abhishek and my age is 30.'

In [12]:
old_price = 59
txt = f"The new price is {old_price + 5} dollars."
print(txt)

The new price is 64 dollars.

In [15]:
# 59.00
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
msg = "I am an "AI" Engineer"
msg

In [ ]:
# Way - 1
msg = "I am a \"AI\" enginner"
print(msg)

In [ ]:
# Way -2

msg = 'I am a "AI" enginner'
msg

In [ ]:
msg = "I am a 'AI' enginner"
msg

In [16]:
# \n -- New line character
txt = "Hello\nWorld!\n I am here to learn python"
print(txt)

Hello
World!
 I am here to learn python

In [17]:
msg = "I am Abhishek\nI am an AI developer"

print(msg)

I am Abhishek
I am an AI developer

In [ ]:
msg = "I am Abhishek\nI am an AI Developer."
print(msg)

In [18]:
a = "abhishek"

print(a)

abhishek

In [19]:
print(a.capitalize())

Abhishek

In [ ]:
b = "Hello, World!"
print(b[:5])

In [ ]:
a

In [ ]:
d_1 = a.upper()
d_1

In [ ]:
d_1.lower()

In [20]:
saying = "      Yashi             Chauhan                  "


saying

'      Yashi             Chauhan                  '

In [21]:
saying.strip()

'Yashi             Chauhan'

In [22]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!